<html>
	<head>
	<title>Welcome to SpaceX website</title>
	<style>
			table {
			  font-family: arial, sans-serif;
			  border-collapse: collapse;
			  width: 100%;
			}
			
			td {
			  border: 1px solid #dddddd;
			  text-align: left;
			  padding: 8px;
			}
			th {
				background-color: coral
			}
			tr:nth-child(even) {
			  background-color: #dddddd;
			}
			</style>
			<h3>A total of {{data.count}} launches have taken place or are scheduled</hr>
	<table>
		<tr>
			<th align="left" scope = "col">Flight number</th>
			<th align="left" scope = "col">Launch date</th>
			<th align="left" scope = "col">Rocket name</th>
			<th align="left" scope = "col">Mission patch link</th>
		</tr>

		{% for launch in data %}
			<tr>	
				<td>{{launch.flight_number}}</td>
				<td> {{launch.launch_date}}</td>
				<td>{{launch.rocket_name}}</td>
				<td><a href = {{launch.mission_patch_link}} target="_blank">{{launch.mission_patch_link}}</td>
			</tr>
		{% endfor %}
	</table>

	<div class = "sidebar">
		<h4>Check out some interesting questions about spacex on <a href="https://space.stackexchange.com/">Space Exploration</a> Stack Exchange Site(updated live)</h4>
		{% for item in questions %}
			<div class="spacex">
				<a href = "{{item.link}}">{{ item.title|linebreaksbr }}</a>
			</div>
			<br>
		{% endfor %}
	</div>
	</head>
</html>
